<h2>Members</h2>
<app-button [buttonText]="'New Member'" (buttonClicked)="newMember()"></app-button>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Country</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members">
      <td>{{member.name}}</td>
      <td>{{member.surname}}</td>
      <td>{{member.country.name}}</td>
      <td><a class="btn btn-default" (click)="edit(member)">Edit</a></td>
    </tr>
    <tr *ngIf="members && members.length == 0">
      <td colspan="4" class="emptyTable">No members to display... click <a class="pointer" (click)=newMember()>here</a> to add one</td>
    </tr>
  </tbody>
</table>
<app-button [buttonText]="'Alert'" (buttonClicked)="buttonClicked($event)"></app-button>